body{
  background: url(https://pbs.twimg.com/media/D_mtXFSVAAELOF3?format=jpg&name=large);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  
}

.weather-box{
  border: 3px solid white;
  padding: 50px;
  border-radius: 30px;
  background-color: rgb(180, 215, 245);
  margin-bottom: 20px;
}

.weather-button .btn{
  margin: 7px;
}
